.venv/
venv/
myenv/
/data
**/lightning_logs
trained_models/
.DS_Store
# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints

# Lightning / IDE / System
.idea/
.bash_history

# Data & Models
*.pt
*.pt2
*.pth
*.ckpt
*.h5
*.db
*.pdf
*.png